@{
    ViewData["Title"] = "About";
}

<div class="row" id="about-header">
    <div class="col-12 text-center">
        <h2>About this blog</h2>
    </div>
</div>


<div class="row">

    @* Main Content *@
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">

        <div class="row text-left">
            <div class="col-12">
                <p>
                    Over the course of the next several months and beyond, I intend to re-work my way through the first 100 problems on <a href="https://projecteuler.net/" target="_blank" rel="noopener noreferrer">projecteuler.net</a>.
                    For each problem, I will provide a complete code solution in at least one language (probably Python), with the intention of also providing solutions in JavaScript and C#.
                    I will also provide my own analysis of the problem. I have included a <a asp-action="Resources" asp-controller="Home">resources</a> page where I will add links to resources that helped me reach a solution.
                </p>
                <p>
                    I think blogs that don't post content regularly are lame. With that in mind I will try to be regular. I think 2-3 problems a week is probably a realistic goal for me, though I reserve the right to change this as I see fit.
                    I will provide updates regularly on the <a asp-action="News" asp-controller="Home">News</a> page. I'll put an announcment there if I forsee a change in the rate I produce new content.
                </p>
                <p>There is a comments section beneath each article. I've required email verification to provide at least a little protection against bots/mean people. I encourage people to leave comments.
                   If you have a question or see an error in my code/analysis please leave a comment. I'll try to respond in a timely fashion.
                </p>
                <p>
                    If there is an issue with your account, or you just want to contact me directly, please make use of the contact link at the bottom of every page. That is the fastest way to get in touch with me.
                    For anyone interest, I built this site with Microsoft's awesome ASP.NET Core framework.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="row ">
    <div class="col-12 text-center">
        <h2>About me</h2>
    </div>
</div>

<div class="row">

    @* Main Content *@
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">

        <div class="row text-left">
            <div class="col-12">
                <p>
                   My name is John. I was formally educated in Business and, prior to attending university, spent about a decade in the military.
                    I came into the programming world without any previous experience and an extremely poor mathematical background. I audited several of MIT's
                    open courseware courses and spent a lot of time on <a href="https://projecteuler.net/" target="_blank" rel="noopener noreferrer" >projecteuler.net</a>. I also studied
                    web development at Coding Dojo. I'm passionate about programming and love helping others to learn (particularly those who also don't have a STEM background). If I could have any job in the world,
                    it would be helping veterans successfully transition into the tech industry. I live in the Pacific Northwest.
            </div>
        </div>
    </div>
</div>