@{
    ViewData["Title"] = "Home";
}



<div class="row header-row">
    <div class="col-12 text-center">
        <h1>Welcome to The Euler 100 Blog!</h1>
    </div>
</div>


<div class="row">

    @* Main Content *@
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">

        <div class="row text-left">
            <div class="col-12">
                <p>
                    I decided to write this blog for a few reasons. First, I owe a great debt to the creators of the content on
                    <a href="https://projecteuler.net/" target="_blank" rel="noopener noreferrer">projecteuler.net</a>. Very early in my transition to working in the tech industry I began solving problems on that site.
                    At the time I had just completed MIT's 600.1x course on edx.com and was looking for ways to improve my fledgling Python skills.
                </p>
                <p>
                    I don't have a strong mathematical background and prior to spending time on Project Euler, I couldn't have told you what a prime number was, much less
                    what permutations and combinations were. What started off as an exercise in Python syntax quickly evolved into a crash course
                    in discrete mathematics, algorithmic complexity, and data structures. I became addicted.
                </p>
                <p>
                    After about 300 hours of work (a large portion of which was spent on wikipedia and Khan Academy), I'm still not a mathematician; but I have solved 165 problems.
                </p>

                <p>
                    This blog is for really for the person who is walking the same path I walked last year. It's designed to help someone who doesn't have a background in mathematics and computer science
                    think like a computational problem solver. My intention is to walk through the first 100 problems from the website, explain the relevant mathematical/computational concepts, and then provide
                    examples of code. My first time through these problems I solved them in Python. Since then I've picked up JavaScript and C# so I intend to provide code solutions for those languages as well.
                </p>

                <p>
                    While I respect Project Euler's position (solutions shouldn't be posted online), the reality is that
                    all of the solutions for these problems are already freely available elsewhere on the internet. If you want to cheat, you don't need
                    this blog to do it. If this blogs helps at least one person become a better computational problem solver, then I'll consider it a success.
                   
                </p>

            </div>
        </div>

        <div class="row text-center">
            <div class="col-12">
                <a href="Problems" class="btn btn-primary">View Problems</a>
            </div>
        </div>

    </div>

</div>


