@{
    ViewData["Title"] = "News";
}



<div class="row header-row">
    <div class="col-12 text-center">
        <h1>News & Announcments</h1>
        <p>Check here for blog announcments.</p>
    </div>
</div>


<div class="row news-resources-body">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="row text-left">
            <div class="col-12">
                <ul>
                    <li><strong>June 27, 2020</strong> - I added the 'Modules' feature which is a place for codes that I will reuse in multiple problems.</li>
                    <li><strong>June 24, 2020</strong> - The first 5 articles are up! I will post at least one more before the end of the week.</li>
                    <li><strong>June 22, 2020</strong> - We are up and running! The first article is posted. I will post additional content on a weekly basis.</li>
                </ul>
            </div>
        </div>



    </div>

</div>


