
@{
    ViewData["Title"] = "Reset Password";
}
@model ResetPW

<div class="row lr-header">
    <div class="col-12 text-center">
        <h3>Reset your password</h3>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <form asp-action="ProcessPasswordReset" asp-controller="Home" method="post">
            <div class="form-group">
                <label asp-for="Password"></label>&nbsp<span class="error-message" asp-validation-for="Password"></span>
                <input asp-for="Password" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Confirm"></label>&nbsp<span class="error-message" asp-validation-for="Confirm"></span>
                <input asp-for="Confirm" class="form-control" />
            </div>

            <div class="form-group text-right">
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
