@{
    ViewData["Title"] = "Resources";
}

<div class="row header-row">
    <div class="col-12 text-center">
        <h1>Additional Resources</h1>
        <p>These are helpful tools I've used a lot for solving these problems.</p>
    </div>
</div>


<div class="row news-resources-body">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="row text-left">
            <div class="col-12">
                <ul>
                    <li>
                        <strong><a target="_blank" rel="noopener noreferrer" href="http://www.pythontutor.com/visualize.html#mode=edit">Python Tutor</a></strong>
                        - Helpful for visualizing code execution
                    </li>
                    <li>
                        <strong><a target="_blank" rel="noopener noreferrer" href="http://oeis.org/">OEIS</a></strong>
                        - Online Encyclopedia of Integer Sequences
                    </li>
                    <li>
                        <strong><a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Big_O_notation#:~:text=Big%20O%20notation%20is%20a,a%20particular%20value%20or%20infinity.">Big O Notation</a></strong>
                        - Helpful Explanation of Big O Notation
                    </li>
                    <li>
                        <strong><a target="_blank" rel="noopener noreferrer" href="https://www.w3schools.in/">W3schools</a></strong>
                        - Great resource for algorithms, data structures & more
                    </li>
                    <li>
                        <strong><a target="_blank" rel="noopener noreferrer" href="https://ocw.mit.edu/courses/find-by-topic/#cat=engineering&subcat=computerscience">MIT OpenCourseWare</a></strong>
                        - Engage with their computer science curriculum for free
                    </li>
                    <li><strong>Square Pyramidal Numbers</strong>&nbsp-&nbsp
                        <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Square_pyramidal_number">Wikipedia</a>&nbsp&nbsp|&nbsp&nbsp
                        <a target="_blank" rel="noopener noreferrer" href="https://oeis.org/A000330">OEIS</a>
                    </li>
                    <li><strong>Triangle Numbers</strong>&nbsp-&nbsp
                        <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Triangular_number">Wikipedia</a>&nbsp&nbsp|&nbsp&nbsp
                        <a target="_blank" rel="noopener noreferrer" href="https://oeis.org/A000217">OEIS</a>
                    </li>

                </ul>
            </div>
        </div>

    </div>

</div>


